### Use SVG format for displaying plots inside notebook (better image quality)

In [1]:
%config InlineBackend.figure_format = 'svg'

### Switch to interactive mode (opens separate window)

In [2]:
%matplotlib qt

### Load and use line profiler

Requirements: `conda install line_profiler`

In [25]:
%load_ext line_profiler

In [26]:
%lprun -f function_to_profile function_to_call()

### Switch to inline mode (closes the interactive figure!)

In [3]:
%matplotlib inline

### Generate test data frames

In [4]:
import pandas as pd
import pandas.util.testing as tu

In [5]:
pd.np.random.seed(0)
tu.N = 3
tu.K = 5
tu.makeDataFrame()

                   A         B         C         D         E
SV1ad7dNjt  0.484312  1.410205 -0.960755  0.680567 -0.242150
vYKxgyym6b  0.579140 -0.374472  0.376927 -1.563497  1.514391
MNxUyrLzni -0.181583  0.275198  0.033439 -0.566698 -0.333057

### Show all rows or columns

In [6]:
pd.options.display.expand_frame_repr = False

# the following lines are needed if dataframe actually contains more rows or columns
pd.options.display.max_rows = 0
pd.options.display.max_columns = 0

### Restart current kernel without dialog

In [ ]:
from IPython.core.display import HTML

HTML("<script>Jupyter.notebook.kernel.restart()</script>")