In [1]:
import easygui
import pandas as pd
import pandas.util.testing as tu

## Basic easygui functionality

Note: the development of this module does not seem to be very active,
but it does offer an extremely easy to use interface.

In [2]:
selected = easygui.multchoicebox(msg='Select columns', choices=['a', 'b'])
print(selected)

[0]
['a']

## Select data frame columns and preserve selection

This is meant for interactive work only and makes use of global variable 'column_list'.

In [3]:
def select_columns(data):
    def ok_button_click(choice_box):
        """Return empty list instead of None when OK is pressed and nothing was selected."""
        if choice_box.choices is None:
            choice_box.choices = []
        choice_box.stop()

    global column_list

    # create global variable if not present yet
    if 'column_list' not in globals():
        column_list = []

    # reset selection if not all names are found in data columns
    if set(data.columns) & set(column_list) != set(column_list):
        column_list = []

    new_selection = easygui.multchoicebox(
        msg='Select columns',
        choices=data.columns,
        preselect=list(map(data.columns.get_loc, column_list)),  # preselect takes index, not name
        callback=ok_button_click,
    )
    column_list = new_selection if new_selection is not None else column_list

In [4]:
pd.np.random.seed(0)
tu.N = 3
tu.K = 10
d = tu.makeDataFrame()
d

,A,B,C,D,E,F,G,H,I,J
SV1ad7dNjt,0.484312,1.410205,-0.960755,0.680567,-0.242150,0.047365,0.566440,1.395472,0.175387,0.639736
vYKxgyym6b,0.579140,-0.374472,0.376927,-1.563497,1.514391,1.462740,0.149265,1.787484,-0.462506,-0.385863
MNxUyrLzni,-0.181583,0.275198,0.033439,-0.566698,-0.333057,1.535029,-1.078278,-0.569517,-1.085801,-0.775762

In [5]:
select_columns(d)
d[column_list]

[]

                   A         B         H
SV1ad7dNjt  0.484312  1.410205  1.395472
vYKxgyym6b  0.579140 -0.374472  1.787484
MNxUyrLzni -0.181583  0.275198 -0.569517