In [1]:
import pandas as pd
import pandas.util.testing as tu

from datetime import datetime, timedelta

## Timestamp

### pandas.Timestamp inherits from datetime.datetime

In [2]:
t1 = pd.Timestamp(datetime(2020, 1, 1))
t1

Timestamp('2020-01-01 00:00:00')

In [3]:
isinstance(t1, pd.Timestamp)

True

In [4]:
isinstance(t1, datetime)

True

### convert to datetime.datetime

In [5]:
t2 = pd.Timestamp('2020').to_pydatetime()
t2

datetime.datetime(2020, 1, 1, 0, 0)

In [6]:
isinstance(t2, pd.Timestamp)

False

In [7]:
isinstance(t2, datetime)

True

## Timedelta

### pandas.Timedelta inherits from datetime.timedelta

In [8]:
dt = pd.Timedelta(1, unit='s')
dt

Timedelta('0 days 00:00:01')

In [9]:
isinstance(dt, timedelta)

True

In [10]:
timedelta(seconds=1) + dt

Timedelta('0 days 00:00:02')

In [11]:
datetime(2020, 1, 1) + dt

datetime.datetime(2020, 1, 1, 0, 0, 1)

## Timezone

In [12]:
t = pd.Timestamp('2020-1-1 12:00:00')

### Add or remove timezone (tz_localize)

In [13]:
t.tz_localize('UTC')  # add timezone, do not change value

Timestamp('2020-01-01 12:00:00+0000', tz='UTC')

In [14]:
try:
    t.tz_localize('UTC').tz_localize('CET')  # timezone change not possible with tz-aware timestamp
except TypeError as e:
    print(e)

Cannot localize tz-aware Timestamp, use tz_convert for conversions

In [15]:
t.tz_localize('UTC').tz_localize(None).tz_localize('CET')

Timestamp('2020-01-01 12:00:00+0100', tz='CET')

### Convert time (astimezone)
Use this to keep the same time: 12:00 UTC -> 13:00 CET

In [16]:
t.tz_localize('UTC').astimezone('CET')  # conversion between different times

Timestamp('2020-01-01 13:00:00+0100', tz='CET')

## DateTimeIndex

In [17]:
pd.np.random.seed(0)
tu.N = 5
tu.K = 2
d = tu.makeTimeDataFrame(freq='s')
d

                            A         B
2000-01-01 00:00:00  1.764052 -0.977278
2000-01-01 00:00:01  0.400157  0.950088
2000-01-01 00:00:02  0.978738 -0.151357
2000-01-01 00:00:03  2.240893 -0.103219
2000-01-01 00:00:04  1.867558  0.410599

In [18]:
d.index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:00:01',
               '2000-01-01 00:00:02', '2000-01-01 00:00:03',
               '2000-01-01 00:00:04'],
              dtype='datetime64[ns]', freq='S')

### Index to seconds

In [19]:
idx = (d.index - d.index[0]) / pd.Timedelta('1s')
idx

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')

### Seconds to index

In [20]:
pd.TimedeltaIndex(idx, unit='s') + pd.Timestamp('2000-1-1')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:00:01',
               '2000-01-01 00:00:02', '2000-01-01 00:00:03',
               '2000-01-01 00:00:04'],
              dtype='datetime64[ns]', freq=None)

## Unix time
Note: due to leap seconds, unix time is not a true representation of UTC.

In [21]:
# seconds to timestamp
time = pd.to_datetime(60, unit='s', origin='unix', utc=True)
time

Timestamp('1970-01-01 00:01:00+0000', tz='UTC')

In [22]:
# timestamp to seconds
seconds = (time - pd.to_datetime(0, unit='s', origin='unix', utc=True)).total_seconds()
seconds

60.0